<div class="large-logo-banner large-logo-banner-edit">
  <%= image_tag "logo.png", alt: "Track My Nutrients", width: 120, class: "img-responsive center-block"%>
</div>

<div class="purple-wrapper wrapper_and_form wrapper-edit">
    <%= render "shared/forms/personal_info_form" %>
</div>


