  <div class="container">
    <h2 class="dashboard-header"><%= Date.today.strftime("%A, %d %B %Y") %>
      <div class="dashboard-orange-line"></div>
    </h2>
    <div class="dashboard-gray-line"></div>
  </div>
<div class="orange-wrapper">
  <div class="container">
    <%= render 'shared/nutrient_tracker' %>
    <div class="dashboard-gray-line-background">
      <div class="dashboard-gray-line"></div>
    </div>
    <%= render "shared/food_diary", added_recipes: @added_recipes %>
  </div>
</div>
