// Define variables for your color scheme

// For example:
$red: #EE5F5B;
$blue: #469AE0;
$yellow: #FDB631;
$orange: #E67E22;
$green: #32B796;
$gray: #000000;


// Color palette
$dark-gray: #4F4F4F;
$medium-gray: #C4C4C4;
$light-gray: #F5F5F5;
$medium-orange: #F2994A;
$light-orange: #FFAA22;
$medium-green: #27AE60;
$dark-green: #007744;
$purple: #441166;
