<div class="large-logo-banner">
  <%= image_tag "logo.png", alt: "Track My Nutrients", width: 120, class: "img-responsive center-block"%>
</div>

<div class="orange-wrapper wrapper_and_form sign-up-wrapper">
    <%= render "shared/forms/sign_up_form" %>
</div>


