<div class="container complete-form">
  <h2>Sign Up</h2>
  <%= simple_form_for :user do |f| %>
    <%= f.input :email, label: false, placeholder: 'Email'%>
    <%= f.input :password, label: false, placeholder: 'Password'%>
    <%= f.button :submit, "SIGN UP", class: "btn btn-action btn-light-orange" %>
  <% end %>
</div>

