<div class="container recipe-list-header">
  <div class="recipe-list-header-text">
    <h3>
      Recipes
      <div class="recipe-list-green-line"></div>
    </h3>
  </div>
</div>




<div class="dark-green-wrapper recipe-list-filter-bar">
  <div class="container filter-bar-container">
    <%= render 'shared/forms/filter_bar_form', recipes: @recipes %>
  </div>
</div>




<div class="recipe-list-grey-background">
  <div class="container recipe-card-container">
    <div class="recipe-list-gray-line"></div>
    <div class="row">
      <% @recipes.each do |recipe| %>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <%= render 'shared/recipe_card', recipe: recipe, hash_nutrient: ApplicationHelper::HASH_NUTRIENT,unit_conv: ApplicationHelper::UNIT_CONV, nutrients_unit: ApplicationHelper::NUTRIENTS_UNIT, diet_array: ApplicationHelper::DIET_ARRAY %>
      </div>
      <% end %>
    </div>
  </div>
</div>

