<div class="container recipe-header">
  <div class="recipe-gray-line"></div>
  <div class ="recipe-header-content">
    <h2>
      Recipe Name
      <div class="recipe-green-line"></div>
    </h2>
    <%= render "shared/recipe_tracker" %>
  </div>
  <div class="recipe-header-photo">

  </div>
</div>
