<div class="container">
  <div class="row">

    <div class="col-xs-12 col-sm-4">
      <div class ="added-recipe-card">
        <div class="added-recipe-container">

          <div class="added-recipe-category">
            <p>Breakfast</p>
            <div class="orange-bar">
            </div>
          </div>
          <div class="added-recipe-name">
            <p>Ceasar green salad</p>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
