<div class="diet-card">
  <div class="diet-title">
    <p><%= diet.name %></p>
  </div>
  <div class="diet-card-purple-bar">
  </div>
  <div class="diet-decription">
    <p class="text-justify body-small thin"><%= diet.description %></p>
  </div>
</div>


