<div class="diet-card">
  <div class="diet-title">
    <p>Low Sodium Diet</p>
  </div>
  <div class="diet-card-purple-bar">
  </div>
  <div class="diet-decription">
    <p class="text-justify body-small thin">Great diet for people who want to reduce their salt intake. They will be able to track how they are doing with this. It will be very helpful for them.</p>
  </div>
</div>


