<div class="nutrient-tracker">
  <div class="nutrient-tracker-header">
    <h3>Nutrient Tracker</h3>
  </div>
  <div class="row nutrient-tracker-body">
    <!-- <div class="row"> -->
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="nutrient-tracker-full">
          <%= render '/shared/nutrient_tracker/full_tracker' %>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="nutrient-tracker-circle">
          <%= render '/shared/nutrient_tracker/circle_tracker' %>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="nutrient-tracker-recipes">
          <%= render '/shared/nutrient_tracker/suggested_recipes' %>
        </div>
      </div>
    <!-- </div> -->
  </div>
</div>
