<div class="recipe-tracker">
  <div class="recipe-nutrient-tracker">
    <span>Nutrient 1</span>
    <span>+5g</span>
    <%= image_tag 'thin_arrow.png', width: "25px" %>
    <%= render "shared/progress_bars/progress_bar_small", percentage_done: 0.4, percentage_estimate: 0.2 %>
  </div>
</div>
