<div class="banner" >
  <div class="banner-content">
    <div class="banner-body">
      <div class="banner-title">
        <h1>Track My Nutrients</h1>
        <div class="green-bar">
        </div>
      </div>
      <h4>Find out more</h4>
      <div>
        <div class="banner-btn">
          <div class="btn btn-action btn-dark-green btn-large btn-margin">
          Sign up
          </div>
          <div class="btn btn-action btn-dark-green btn-large btn-margin">
          Sign in
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
