<div class="banner" >
  <div class="banner-content">
    <div class="banner-body">
      <div class="banner-title">
        <h1>Track My Nutrients</h1>
        <div class="green-bar">
        </div>
      </div>
      <h4>Find out more</h4>
      <div>
        <div class="banner-btn">
          <div class="btn btn-action btn-dark-green btn-large btn-margin">
          Sign up
          </div>
          <div class="btn btn-action btn-dark-green btn-large btn-margin">
          Sign in
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="logo-header">
  <%= image_tag "logo.png", height: 100 %>
</div>

<div class="wrapper-home" id="section 1">
  <div class="section-container">
    <div class="section-body">
      <div class="section-text">
        <h2>1.Check your tracker</h2>
        <p>With Track My NUtrients, do that that and thaaat.</p>
      </div>
      <div class="screenshot">
      <%= image_tag "home-dash.png", height: 300 %>
      </div>
    </div>
  </div>
</div>
