<h1>Styleguide</h1>


<h1>Header 1</h1>
<h2>Header 2</h2>
<h3>Header 3</h3>
<h4>Header 4</h4>
<p>Body</p>

<hr>

<a href="#" class="btn btn-action btn-medium-green">SUBMIT</a>
<a href="#" class="btn btn-action btn-dark-green">SUBMIT</a>
<a href="#" class="btn btn-action btn-light-orange">SUBMIT</a>
<a href="#" class="btn btn-action btn-purple">SUBMIT</a>

<a href="#" class="btn btn-action btn-large btn-medium-green">ADD A MEAL TO FOOD DIARY</a>

<hr>

<%= render '/shared/progress_bars/progress_bar_large', percentage: 1.5 %>

<%= render '/shared/progress_bars/progress_bar_small', percentage_done: 0.7, percentage_estimate: 0.6 %>


