<h1>Styleguide</h1>

<button class="btn btn-light-orange">SUBMIT</button>
<button class="btn btn-medium-green">SUBMIT</button>
<button class="btn btn-dark-green">SUBMIT</button>
<button class="btn btn-purple">SUBMIT</button>
