<div class="circle-tracker">
  <div class="circle-tracker-progress">
    <canvas id="circle-tracker-animation"></canvas>
  </div>
  <div class="circle-tracker-title">
    <h4 class="text-center">Nutrient 1</h4>
  </div>
</div>
