<div class="circle-tracker">
  <div class="circle-tracker-progress">
    <div class="circle-tracker-data">
      <h2 class="nutrient-eaten text-center">15g</h2>
      <div class="gray-line"></div>
      <h4 class="nutrient-obj text-center">25g</h4>
    </div>
    <div class="circle-tracker-chart">
      <canvas id="circle-tracker-animation" style="height: 230px">
      </canvas>
    </div>
  </div>
  <div class="circle-tracker-title">
    <h4 class="text-center circle-tracker-title-nutrient"></h4>
  </div>
</div>
