<div class="circle-tracker">
  <div class="circle-tracker-progress">
    <div class="green-circle">
      <div class="white-circle">
        <h2 class="selected">15g</h2>
        <div class="gray-line"></div>
        <h4 class="thin">20g</h4>
      </div>
    </div>
  </div>
  <div class="circle-tracker-title">
    <h4 class="text-center">Nutrient 1</h4>
  </div>
</div>
