<div class="suggested-recipes">
  <div class="suggested-recipes-header">
    <p class="text-center">Suggested Recipes</p>
    <div class="suggested-recipes-header-orange"></div>
  </div>
  <div class="suggested-recipes-list">
    <div class="suggested-recipe">
      <div class="suggested-recipe-icon">
        <%= image_tag "bowl-spoon.png", alt: "Bowl with spoon", class: "suggested-recipe-icon" %>
      </div>
      <div class="suggested-recipe-content">
        <p>Recipe name</p>
        <a href="#" class="body-small">View</a><span class="body-small"> | </span><a href="#" class="body-small">Add</a>
      </div>
    </div>

    <div class="suggested-recipe">
      <div class="suggested-recipe-icon">
        <%= image_tag "bowl-spoon.png", alt: "Bowl with spoon", class: "suggested-recipe-icon" %>
      </div>
      <div class="suggested-recipe-content">
        <p>Recipe name</p>
        <a href="#" class="body-small">View</a><span class="body-small"> | </span><a href="#" class="body-small">Add</a>
      </div>
    </div>

    <div class="suggested-recipe">
      <div class="suggested-recipe-icon">
        <%= image_tag "bowl-spoon.png", alt: "Bowl with spoon", class: "suggested-recipe-icon" %>
      </div>
      <div class="suggested-recipe-content">
        <p>Recipe name</p>
        <a href="#" class="body-small">View</a><span class="body-small"> | </span><a href="#" class="body-small">Add</a>
      </div>
    </div>

    <div class="suggested-recipe">
      <div class="suggested-recipe-icon">
        <%= image_tag "bowl-spoon.png", alt: "Bowl with spoon", class: "suggested-recipe-icon" %>
      </div>
      <div class="suggested-recipe-content">
        <p>Recipe name</p>
        <a href="#" class="body-small">View</a><span class="body-small"> | </span><a href="#" class="body-small">Add</a>
      </div>
    </div>


  </div>
</div>
