<div class="suggested-recipes">
  <div class="suggested-recipes-header">
    <h4 class="text-center">Suggested Recipes</h4>
    <div class="suggested-recipes-header-orange"></div>
  </div>

  <div class="suggested-recipes-list">
    <% @suggested_recipes.each do |recipe| %>
    <div class="suggested-recipe">
      <div class="suggested-recipe-icon">
        <%= image_tag "bowl-spoon.png", alt: "Bowl with spoon", class: "suggested-recipe-icon" %>
      </div>
      <div class="suggested-recipe-content">
        <p><%= recipe.name.capitalize %></p>
        <%= link_to "View", recipe_path(recipe), class: "body-small" %><span class="body-small"> | </span><%= link_to "Add",  dashboard_path, class: "body-small" %>
      </div>
    </div>
    <% end %>
  </div>

</div>

