
/* HOMEPAGE - from le wagon component*/
.banner {
  color: white;
  height: 100vh;
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;
  background: asset-url('background-dark-green.jpg');
  background-position: center;
  overflow: scroll;
}
/* [wrapper] - white transparent banner with title and buttons */
.banner-content {
  background-color: rgba(255,255,255,0.9);
  width: 100%;
  height: 35%;
  display: flex;
  justify-content: space-around;
  padding: 40px 0;
  text-align: center;
  color: $dark-green;
}

.banner-content-mobile {
  background-color: rgba(255,255,255,0.9);
  width: 100%;
  height: 60%;
  display: flex;
  justify-content: space-around;
  padding: 40px 0;
  text-align: center;
  color: $dark-green;
}

.green-bar {
width: 100%;
height: 8px;
background: $dark-green;
border-radius: 3.5px;
}

.banner-content h4 {
  color: $dark-gray;
  font-weight: 300;
}

.banner-body {
  width: 50%;
  display: flex; /* contexte sur le parent */
  flex-direction: column; /* direction d'affichage verticale */
  justify-content: space-around;
  padding-bottom: 10px;
}

.banner-body-mobile {
  width: 80%;
  height: 80%;
  display: flex; /* contexte sur le parent */
  flex-direction: column; /* direction d'affichage verticale */
  justify-content: space-around;
  padding-bottom: 10px;
}

.banner-title {
  display: relative
}

.banner-btn {
  justify-content: center;
}

.btn-margin {
  margin: 0 10px;
}

/*LOGO HEADER BAR */
.header-white {
margin-top: 30px;
height: 100px;
display: flex;
justify-content: center;
align-items: center;
}

/* GRID */
.container-fluid {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 30px;
    color: white;
}

.row-1 {
  background-color: #6db193;
  height: 524px;
  margin-left: -15px;
  margin-right: -15px;
}

.row-2 {
  background-color: $light-orange;
  height: 524px;
  margin-left: -15px;
  margin-right: -15px;
}

.row-3 {
  background-color: #B0D0D3;
  height: 524px;
  margin-left: -15px;
  margin-right: -15px;
}

.text {
  padding: 3%;
}

#image1 {
  background: asset-url('homepage-row1.jpg');
  background-repeat: no-repeat;
  background-size: cover !important;
  background-position: center;
}

#image2 {
  background: asset-url('home-recipes.png');
  background-repeat: no-repeat;
  background-size: cover !important;
  background-position: center;
}

#image3 {
  background: asset-url('home-2.jpg');
  background-repeat: no-repeat;
  background-size: cover !important;
  background-position: center;
}

.image, .text {
  height: 100%;
  width: 50%;
}

/* BUTTON SING UP END OF PAGE*/
.padding-bottom {
  padding-bottom: 30px;
}

/*ICONS in each section above h2*/
.fas-home {
  font-size: 50px;
}

/* SPOTS */
.spots {
  display: flex;
}

.spot {
  border-radius : 50%;
  width: 20px;
  height: 20px;
  margin-right: 3px;
}

.large-logo-banner-edit{
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1029;
  background-color: white;
}

.large-logo-banner{
  height: 15vh;
  margin-top: 6vh;
}

.large-logo-banner-new{
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1029;
  background-color: white;
  margin-top: 0;
}

.large-logo-banner img {
  height: 15vh;
  width: 15vh;
}

.home-page-grid-content{
  line-height: 1.5;
  letter-spacing: 0.05em;
  font-family: 'M PLUS Rounded 1c', sans-serif;
}

.dark-background{
  color: white;
}

.light-background{
  color: $dark-gray;
}

.home-page-grid-title{
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-bottom: 5%;
}

.home-page-grid-title h2{
  margin: 0;
  font-family: 'M PLUS Rounded 1c', sans-serif;
}

