.btn-dark-green {
  background-color: $dark-green;
  color: white;
  padding: 8px 14px;
}

.btn-medium-green {
  background-color: $medium-green;
  color: white;
  padding: 8px 14px;
}

.btn-light-orange {
  background-color: $light-orange;
  color: white;
  padding: 8px 14px;
}

.btn-purple {
  background-color: $purple;
  color: white;
  padding: 8px 14px;
}
