.btn-action {
  color: white;
  padding: 8px 14px;
}

.btn-action:hover {
  opacity: 0.8;
  color: white;
}

.btn-large {
  font-size: 22px;
}

.btn-dark-green {
  background-color: $dark-green;
}

.btn-medium-green {
  background-color: $medium-green;
}

.btn-light-orange {
  background-color: $light-orange;
}

.btn-purple {
  background-color: $purple;
}



