// Layout

.circle-tracker {
  width: 100%;
  height: 350px;
  background-color: transparent;
  border-radius: 3px;
  border: 1px solid $light-gray;
  padding: 0;
  margin: 5% 0;
}

.circle-tracker-progress {
  height: 280px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle-tracker-title {
  height: 69px;
  background-color: rgba(255,255,255,0.7);
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 0 0 3px 3px;
}

// Canvas

#circle-tracker-animation {
  height: 280px;
  width: 100%;
}


// Fraction

.gray-line {
  background-color: $medium-gray;
  width: 60%;
  height: 1px;
}

