.food-diary-container {
  background-color: white;
  margin: 0;
  padding: 0 3.4%;
  width: 100%;
}

.food-diary-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  width: 100%;
  background-color: white;
  padding-left: 5%;
  padding-right: 5%;
}

.food-diary-view a {
  color: $dark-gray;
}

.food-diary-view a:hover {
  text-decoration: none;
}

/*FOOD DIARY : general frame for food diary cards*/
.food-diary-card {
  margin: 5% 0;
  display: flex;
  align-item: center;
  justify-content: center;
  height: 209px;
  width: 100%;
  background-size: cover !important;
  border-radius: 3px;
  text-align: center;
}

a {
  color: black;
}

a:hover {
  text-decoration: none;
  color: black;
}


/*FOOD DIARY : first card to suggest "add a meal" */
.add-meal {
  background: white;
}


.add-meal-container img {
  opacity: 0.65;
}

/*FOOD DIARY : recipes added */
.added-recipe {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.added-recipe:hover {
  background-position: bottom;
}

.added-recipe-container {
  position: relative;
  width: 80%;
  margin: auto;
  height: 40%;
  background: rgba(255, 255, 255, 0.9);
}

.added-recipe-category {
  position: absolute;
  top: 0;
  width: 100%;
  height: 50%;
  background: white;
  padding: 5px;
  p {
    margin:0;
  }
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.orange-bar {
  position: absolute;
  width: 60%;
  height: 4px;
  margin: 0 20%;
  background: $light-orange;
  border-radius: 2px;
  top: 48%;
  z-index: 1;
}

.added-recipe-name {
  position: absolute;
  width: 100%;
  height: 50%;
  bottom: 0;
  p {
    margin:0;
  }
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.food-diary-card {
  -webkit-perspective: 600px;
}

.front, .back {
  transition: -webkit-transform 1s;
  -webkit-transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
  width: 100%;
  margin: auto;
  height: 100%;
}

.front {
  position: absolute;
  top:0px;
  background-color: $light-gray;

}

.back {
  -webkit-transform: rotateY(-180deg);
  background-color: orange;
}

.food-diary-card:hover .back {
  -webkit-transform: rotateY(0);
}

.food-diary-card:hover .front {
  -webkit-transform: rotateY(180deg);
}

.add-meal-card-content {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
