#food-diary-container {
  background-color: white;
  margin: 0;
  padding: 0 3.4%;
  width: 100%;
  height: 100%;
}

.food-diary {
  min-height: 85vh;
  background-color: white;
}

.food-diary-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  width: 100%;
  background-color: white;
  padding-left: 5%;
  padding-right: 5%;
}

.food-diary-view a {
  color: $dark-gray;
}

.food-diary-view a:hover {
  text-decoration: none;
}

/*FOOD DIARY : general frame for food diary cards*/
.food-diary-card {
  margin: 5% 0;
  display: flex;
  align-item: center;
  justify-content: center;
  height: 209px;
  width: 100%;
  background-size: cover !important;
  border-radius: 3px;
  text-align: center;
}

a {
  color: black;
}

a:hover {
  text-decoration: none;
  color: black;
}


/*FOOD DIARY : first card to suggest "add a meal" */
.add-meal {
  background: white;
}


.add-meal-container img {
  opacity: 0.65;
}

/*FOOD DIARY : recipes added */
.added-recipe {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  width: 100%;
  transition-duration: 0.4s;
  transition-property: transform;
  transition-timing-function: ease-out;
}

.added-recipe:hover {
  cursor: pointer;
  transform: translateY(-8px);
  opacity: 0.9;
}

.added-recipe-container {
  position: relative;
  width: 80%;
  margin: auto;
  height: 40%;
  background: rgba(255, 255, 255, 0.9);
}

.added-recipe-category {
  position: absolute;
  top: 0;
  width: 100%;
  height: 50%;
  background: white;
  padding: 5px;
  p {
    margin:0;
  }
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.orange-bar {
  position: absolute;
  width: 60%;
  height: 4px;
  margin: 0 20%;
  background: $light-orange;
  border-radius: 2px;
  top: 48%;
  z-index: 1;
}

.added-recipe-name {
  position: absolute;
  width: 100%;
  height: 50%;
  bottom: 0;
  p {
    margin:0;
  }
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.food-diary-card {
  -webkit-perspective: 600px;
}

.front, .back {
  transition: -webkit-transform 1s;
  -webkit-transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
  width: 100%;
  margin: auto;
  height: 100%;
  border-radius: 3px;
}

.front {
  position: absolute;
  top:0px;
  background-color: $light-gray;
}

.back {
  -webkit-transform: rotateY(-180deg);
  background-color: $light-gray;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.food-diary-card:hover .back {
  -webkit-transform: rotateY(0);
}

.food-diary-card:hover .front {
  -webkit-transform: rotateY(180deg);
}

.add-meal-card-content {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.add-meal-links {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 80%;
  width: 100%;
}

.add-meal-or {
  display: flex;
  width: 100%;
  align-items: center;
  color: $medium-gray;
}

.add-meal-or-line {
  background-color: $medium-gray;
  opacity: 0.8;
  height: 1px;
  width: 100%;
  margin: 0 5%;
}

.add-meal-card-content-front {
  height: 50%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  color: $light-orange;
}

.orange-bar-add {
  background: $light-orange;
  border-radius: 2px;
  height: 4px;
  width: 80%;
}

/* BACK FOOD-DIARY */
.food-diary-back {
  background: rgba(255, 255, 255, 0.9);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  margin: auto;
  height: 100%;
}

.added-recipe .front-card {
  display: flex;
  width: 100%;
  height: 100%;
}

.added-recipe .back-card {
  display: none;
}

.added-recipe.clicked-card .front-card {
  display : none;
}

.added-recipe.clicked-card .back-card {
  display : flex;
  width: 100%;
  height: 100%;
  justify-content: space-around;
}

.card-options {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height:100%;
  padding: 6%;
}
