.large-logo-banner {
  margin: 10px 0px;
}

form {
  margin-top : 30px;
  display: flex;
  flex-direction: column;
  align-items: center;

}

label {
  font-weight: 200;
}


.complete-form{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.9);
  height: 80vh;
  width: 50vh;
}

.complete-form#personal-info-form{
    height: 130vh;
    width: 60vh;
  }

.form-control {
  box-shadow: none;
  width: 250px;
  margin: 15px 15px 15px 15px;
  border-radius: 3px;
}

.form-control.input-small {
    width: 80px;
  }

.form-control.input-medium {
    width: 110px;
  }

.inline-row{
  display: flex;
  align-items: center;
  justify-content: space-between;
}


#personal-info-form {
  .form-control {
    margin: 3px;
  }
  p{
    margin-right: 10px;
  }
}

#filter-bar {
  width: 100%;
  height: 100%;
  flex-direction : row;
  .form-group {
  margin: 0;
  }
  form {
    margin-top: 0px;
  }

}

.filters {
  display: flex;
}

.filter-btn {
  display: flex;
  align-items: center;
}

.search-query {
  padding-left: 43px;
  background-image: url(https://www.iconsdb.com/icons/preview/green/magnifying-glass-3-xxl.png);
  background-repeat: no-repeat;
  background-position: 12px 8px;
  background-size: 9%;
}

.search-recipes {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.d-flex.flex-row.justify-content-between.align-items-center {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.wrapper_and_form {
  display: flex;
  justify-content: center;
}

.links {
  margin: 10px;
}

