.large-logo-banner {
  margin: 10px 0px;
}

form {
  margin-top : 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

label {
  font-weight: 200;
}

.complete-form{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.9);
  height: 80vh;
  width: 50vh;
}

.complete-form#personal-info-form{
    height: 130vh;
    width: 60vh;
  }

.form-control {
  box-shadow: none;
  width: 250px;
  margin: 15px 15px 15px 15px;
  border-radius: 3px;
}


.form-control.input-small {
    width: 80px;
  }

.form-control.input-medium {
    width: 110px;
  }

.form-control.input-medium-plus {
  width: 200px;
}

.inline-row{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.inline-row-property {
justify-content: space-around !important;
width: 100%;
}

#personal-info-form {
  .form-control {
    margin: 3px;
  }
  p{
    margin-right: 10px;
  }
}

#filter-bar {
  width: 100%;
  height: 100%;
  flex-direction : row;
  .form-group {
  margin: 0;
  }
  form {
    margin-top: 0px;
  }
}

.filters {
  display: flex;
}

.filter-area {
width: 100%;
flex-direction: row;
justify-content: space-around;
}

.filter-btn {
  display: flex;
  align-items: center;
}

.search-container {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 0px;
  overflow: hidden;
  margin:0px;
}

#search-ingredient {
  padding: 15px;
}

.margin-search-box {
  margin: 15px 0px 15px 15px;
}

.d-flex.flex-row.justify-content-between.align-items-center {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.wrapper_and_form {
  display: flex;
  justify-content: center;
}

.links {
  margin: 10px;
}

//"FIND A RECIPE" - RECIPES#INDEX
html body div.dark-green-wrapper.recipe-list-filter-bar div.container.filter-bar-container div#filter-bar.container.complete-form div.inline-row.inline-row-property div.filters.filter-area form div.search-container input#query.form-control.input-medium-plus {
 margin: 15px 0 15px 15px;
}

// "ALL MEAL TYPES SEARCH BUTTON" - RECIPES#INDEX
html body div.dark-green-wrapper.recipe-list-filter-bar div.container.filter-bar-container div#filter-bar.container.complete-form div.inline-row.inline-row-property div.filters.filter-area form div.search-container select#category_id.form-control.input-medium-plus.hidden-xs{
 margin:15px 0 15px 15px;
}

// "ADD AN INGREDIENT" - RECIPES#INDEX
html body div.dark-green-wrapper.recipe-list-filter-bar div.container.filter-bar-container div#filter-bar.container.complete-form div.inline-row.inline-row-property div.filters.filter-area form div#search-ingredient.search-container span.select2.select2-container.select2-container--default span.selection span.select2-selection.select2-selection--single {
  padding-left: 4px;
  padding-top: 6px;
}

.select2-fooditem_id_container {
  height: 40px;
}

html body div.dark-green-wrapper.recipe-list-filter-bar div.container.filter-bar-container div#filter-bar.container.complete-form div.inline-row.inline-row-property div.filters.filter-area form div#search-ingredient.search-container span.select2.select2-container.select2-container--default.select2-container--below.select2-container--open span.selection span.select2-selection.select2-selection--single {
  height: 44px;
}

html body div.dark-green-wrapper.recipe-list-filter-bar div.container.filter-bar-container div#filter-bar.container.complete-form div.inline-row.inline-row-property div.filters.filter-area form div#search-ingredient.search-container span.select2.select2-container.select2-container--default span.selection span.select2-selection.select2-selection--single {
  height: 44px;
}

// RECIPE#EDIT BUTTON FOR "CHOOSE AN INGREDIENT"
html body div.medium-green-wrapper div.new-ingredients-container.container div.row div.col-xs-12.col-md-6 div.new-ingredients-card div.new-ingredient-form form#new_ingredient.simple_form.new_ingredient div.form-group.select.required.ingredient_food_item span.select2.select2-container.select2-container--default span.selection span.select2-selection.select2-selection--single {
  height: 40px;
}

html body div.medium-green-wrapper div.new-ingredients-container.container div.row div.col-xs-12.col-md-6 div.new-ingredients-card div.new-ingredient-form form#new_ingredient.simple_form.new_ingredient div.form-group.select.required.ingredient_food_item span.select2.select2-container.select2-container--default span.selection span.select2-selection.select2-selection--single span#select2-ingredient_food_item_id-container.select2-selection__rendered  {
  padding-top: 6px;
}

html body div.dark-green-wrapper.recipe-list-filter-bar div.container.filter-bar-container div#filter-bar.container.complete-form div.inline-row.inline-row-property div.filters.filter-area form div#search-ingredient.search-container span.select2.select2-container.select2-container--default span.selection span.select2-selection.select2-selection--single span.select2-selection__arrow {
  padding-top:6px;
}

html body div.dark-green-wrapper.recipe-list-filter-bar div.container.filter-bar-container div#filter-bar.container.complete-form div.inline-row.inline-row-property div.filters.filter-area form div#search-ingredient.search-container span.select2.select2-container.select2-container--default span.selection span.select2-selection.select2-selection--single span.select2-selection__arrow {
  margin-top:6px;
}
