form {
  margin-top : 30px;
  display: flex;
  flex-direction: column;
  align-items: center;

}

input:placeholder {
  color: red;
}

label {
  font-weight: 200;
}


.complete-form{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.9);
  height: 80vh;
  width: 50vh;
}

.form-control {
  box-shadow: none;
  width: 250px;
  margin: 15px 15px 15px 15px;
  border-radius: 3px;
}

.form-control.input-small {
    width: 80px;
  }

.form-control.input-medium {
    width: 110px;
  }

.inline-row{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.inline-date{
  display: inline-block;
}


#personal-info-form {
  .form-control {
    margin: 3px;
  }
  p{
    margin-right: 10px;
  }
}

#filter-bar {
  flex-direction : row;
  .form-group {
  margin: 0;
  }
  form {
    margin-top: 0px;
  }
}

.filters {
  display: flex;
}

.filter-btn {
  display: flex;
  align-items: center;
}

.d-flex.flex-row.justify-content-between.align-items-center {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.wrapper_and_form {
  display: flex;
  justify-content: center;
}



