.nutrient-tracker-header {

  height: 12vh;
  width: 100%;
  background-color: white;
  padding-left: 5%;
  padding-right: 5%;
}

.nutrient-tracker-header-content {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nutrient-tracker-view a {
  color: $dark-gray;
}

.nutrient-tracker-view a:hover {
  text-decoration: none;
}

.nutrient-tracker-body {
  background-color: rgba(255,255,255,0.85);
  width: 100%;
  min-height: 69vh;
  padding: 4.5vh 3.4%;
  margin: 0;
}

#day {
  cursor: pointer;
}

#week {
  cursor: pointer;
}

