.progress-style {
  background-color: #F2F2F2;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-bottom: 0;
}

.progress-small {
  width: 130px;
  height: 13px;
  border-radius: 6.5px;
}

.progress-large {
  width: 230px;
  height: 24px;
  border-radius: 12px;
}

.progress-bar-small-round {
  border-radius: 0 6.5px 6.5px 0;
  box-shadow: none;
}

.progress-bar-large-round {
  border-radius: 12px;
  box-shadow: none;
  position: relative;
}

.progress-bar-estimate {
  opacity: 0.5;
  box-shadow: none;
}

.progress-bar-label-inside {
  position: absolute;
  right: 5px;
  top: -2px;
}

.progress-bar-label-outside {
  position: absolute;
  right: -32px;
  top: -2px;
  color: $medium-gray;
}

.progress-bar-label-inside-fixed {
  position: absolute;
  left: 175px;
  top: -2px;
}
