// Larger progress bar (for Nutrient Tracker in Dashboard)

.progress-style {
  background-color: #F2F2F2;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-bottom: 0;
}

.progress.progress-style.progress-large:hover {
  font-weight: 250;
  box-shadow: inset 0px 5px 5px rgba(0, 0, 0, 0.30);
  background-color: #F2F2F3;
}

.progress-large {
  width: 230px;
  height: 24px;
  border-radius: 12px;
}

.progress-bar-large-round {
  border-radius: 12px;
  box-shadow: none;
  position: relative;
}

.progress-bar-label-inside {
  position: absolute;
  right: 5px;
  top: 2px;
}

.progress-bar-label-outside {
  position: absolute;
  right: -32px;
  top: 2px;
  color: $medium-gray;
}

.progress-bar-label-inside-fixed {
  position: absolute;
  right: 5px;
  top: 2px;
}

// Smaller progress bar used in Recipe cards (in recipe index and recipe show)

.progress-bar-small-round {
  border-radius: 10px;
  height: 13px;
}

.progress-bar-base {
  background-color: #F2F2F2;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  width: 110px;
  position: relative;
  overflow: hidden;
}

.progress-bar-estimate {
  opacity: 0.5;
  position: absolute;
  left: 0;
}

.progress-bar-done {
  position: absolute;
  left: 0;
}

