.recipe-card {
  width: 100%;
  background-color: white;
  border-radius: 3px;
  border: 1px solid $light-gray;
  transition-duration: 0.4s;
  transition-property: transform;
  transition-timing-function: ease-out;
}

.recipe-card:hover {
  cursor: pointer;
  transform: translateY(-12px);
  opacity: 0.9;
}

.recipe-card-header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.recipe-card-green-line {
  height: 4px;
  width: 70%;
  border-radius: 2px;
  background-color: $medium-green;
}

.recipe-card-content {
  display: flex;
}


.recipe-card-photo {
  width: 50%;
  // To change with height %
  height: 180px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.recipe-card-tracker {
  width: 50%;
  // To change with height %
  height: 180px;
  display: flex;
  flex-direction: column;
  margin: 2%;
  padding: 2%;
  overflow: scroll;
}

.recipe-card-nutrient{
  margin-bottom: 2%
}

.recipe-card-nutrient-name {
  margin-bottom: 0;
  padding-left: 4%;
}

.recipe-card-impact {
  display: flex;
  justify-content: space-between;
  align-items: center;
  div {
    width: 60%;
  }
}

.recipe-card-impact span {
  font-weight: 400;
  font-size: 15px;
}

.recipe-card-attributes {
  display: flex;
  flex-direction: column;
  i {
    height: 16px;
    width: 16px;
  }
}

.recipe-card-add form {
  margin: 0;
}

.recipe-card-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1%;
}

#suggested-recipe-content > div.recipe-card-tracker {
  width: 80%;
  // To change with height %
  height: 180px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 2%;
}


