.recipe-tracker {
  height: 130px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.recipe-nutrient-tracker {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.recipe-tracker-arrow {
  width: 25px;
}

.recipe-nutrient-tracker-header {
  width: 30%;
}

.recipe-nutrient-tracker-content-g {
  width: 10%;
}

.recipe-nutrient-tracker-content-arrow {
  width: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.recipe-nutrient-tracker-content-bar {
  width: 30%;
}

.recipe-nutrient-tracker-content-fraction {
  width: 20%;
}

.recipe-nutrient-tracker-content h4 {
  margin: 0;
}
