.suggested-recipes {
  width: 300px;
  height: 350px;
  background-color: white;
  border-radius: 3px;
  border: 1px solid $light-gray;
  padding-top: 10px;
}

.suggested-recipes-header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.suggested-recipes-header p {
  margin-bottom: 6px;
}

.suggested-recipes-header-orange {
  background-color: $light-orange;
  height: 4px;
  width: 200px;
  border-radius: 2px;
}

.suggested-recipes-list {
  padding-left: 25px;
  padding-top: 20px;
  padding-bottom: 10px;
  display: flex;
  flex-direction: column;
}

.suggested-recipe {
  width: 240px;
  display: flex;
}

.suggested-recipe-icon {
  opacity: 0.85;
  height: 38px;
}

.suggested-recipe-content {
  padding-left: 8px;
}

.suggested-recipe-content p {
  margin-bottom: 0;
}

.suggested-recipe-content a {
  color: black;
  font-weight: 200;
}

.suggested-recipe-content a:hover {
  text-decoration: none;
  font-weight: 300;
}

