.suggested-recipes {
  width: 100%;
  height: 350px;
  background-color: white;
  border-radius: 3px;
  border: 1px solid $light-gray;
  padding: 3% 0;
  margin: 5% 0 3% 0;
}

.suggested-recipes-header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.suggested-recipes-header p {
  margin-bottom: 6px;
}

.suggested-recipes-header-orange {
  background-color: $light-orange;
  height: 4px;
  width: 200px;
  border-radius: 2px;
}

.suggested-recipes-list {
  height: 300px;
  padding-left: 12%;
  margin-top: 15px;
  padding-bottom: 10px;
  flex-direction: column;
  overflow: scroll;
  height: 80%;
}

.suggested-recipe {
  width: 240px;
  display: flex;
  padding-top: 5px;
  padding-bottom: 10px;
  height: 70px;
}

.suggested-recipe-icon {
  opacity: 0.85;
  height: 38px;
}

.suggested-recipe-content {
  padding-left: 8px;
}

.suggested-recipe-content p {
  margin-bottom: 0;
}

.suggested-recipe-content a {
  color: black;
  font-weight: 200;
}

.suggested-recipe-content a:hover {
  text-decoration: none;
  font-weight: 300;
}

.suggested-recipe-nutrient-side{
  padding: 1%;
  height: 85%;
}

.suggested-recipe-nutrients {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  justify-content: space-around;
}

.button-row {
  margin-top: 10px;
}

.suggested-recipe-card-button {
  margin: 3px;
  form {
    margin-top: 0px;
  }
}

.back-button:hover{
  cursor: pointer;
}

.recipe-card-tracker.dashboard-suggested-recipes{
  justify-content: unset;
  width: 75%;
  overflow: scroll;
  padding: 0px;
  height: 65%;
}

.suggested-recipes-list.suggested-recipe-nutrient-side{
  overflow: unset;
}

div.recipe-card-tracker.dashboard-suggested-recipes > div.recipe-card-nutrient{
  margin-bottom: 2%;
}


