.dark-green-wrapper {
  background-image: asset-url('background-dark-green.jpg');
  background-size: cover;
}

.medium-green-wrapper {
  background-image: asset-url('background-medium-green.jpg');
  background-size: cover;
  background-attachment: fixed;
}

.orange-wrapper {
  background-image: asset-url('background-orange.jpg');
  background-size: cover;
  background-attachment: fixed;
}

.purple-wrapper {
  background-image: asset-url('background-purple.jpg');
  background-size: cover;
  background-attachment: fixed;
}
