.dark-green-wrapper {
  background-image: asset-url('background-dark-green.jpg');
  background-size: cover;
  background-position: center;
}

.medium-green-wrapper {
  background-image: asset-url('background-medium-green.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

.orange-wrapper {
  background-image: asset-url('background-orange.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

.purple-wrapper {
  background-image: asset-url('background-purple.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

.wrapper-edit{
  margin-top: 20vh;
  width: 100%;
}

.sign-up-wrapper, .sign-in-wrapper{
  height: 80vh;
}
