// 'Recipes' header

.recipe-list-header {
  background-color: white;
  width: 70%;
  height: 10vh;
  margin-top: 6vh;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1029;
  width:100%;
}

.recipe-list-header-text h3 {
  margin-left: 10%;
  display: table;
  padding: 0;
  padding-bottom: 10px;
}

.recipe-list-green-line {
  background-color: $medium-green;
  height: 6px;
  width: 100%;
  border-radius: 3px;
}


// Filter bar

.recipe-list-filter-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 16vh;
  height: 15vh;
}

.filter-bar-container {
  background-color: rgba(255,255,255, 0.2);
  display: table;
}


// Recipe list with recipe cards

.recipe-list-gray-line {
  background-color: $medium-gray;
  opacity: 0.7;
  height: 1px;
  width: 100%;
  margin: 20px 0 0 0;
}

.recipe-list-grey-background {
  background-color: $light-gray;
  padding: 1px;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 80vh;
}

.recipe-card {
  margin: 5% 0;
}

.recipe-card-container{
  padding: 0 3%;
}
