.recipe-header {
  background-color: white;
  width: 70%;
  padding: 2% 5%;
}

.recipe-header-text h3 {
  display: table;
}

.recipe-green-line {
  background-color: $medium-green;
  height: 6px;
  width: 100%;
  border-radius: 3px;
}

.recipe-gray-line {
  background-color: $medium-gray;
  opacity: 0.7;
  height: 1px;
  width: 100%;
  margin: 0;
}

.recipe-header-photo img {
  width: 80%;
  height: 200px;
  margin-left: 20%;
}

.recipe-container {
  width: 75%;
  height: 300px;
  background-color: rgba(255,255,255,0.9);
}

.recipe-attributes {
  background-color: white;
  width: 84%;
  margin: 2% 8%;
  display: flex;
  justify-content: space-around;
  padding: 2% 0;
}

.recipe-in {
  background-color: white;
}

.recipe-in h4 {
  display: table;
  padding-top: 2%;
  padding-left: 4%;
}

.recipe-small-green-line  {
  background-color: $medium-green;
  height: 4px;
  width: 100%;
  border-radius: 2px;
}

.recipe-ingredients {
  margin-left: 20%;
}

.recipe-instructions {
  margin-right: 14%;
}

