<div class="progress-bar-base progress-bar-small-round">
  <% if (percentage_done + percentage_estimate) > 1 %>
    <div class="progress-bar-estimate progress-bar-warning progress-bar-small-round" style="width: 100%">
    </div>
    <div class="progress-bar-done progress-bar-warning progress-bar-small-round" role="progressbar" style="width: <%= percentage_done * 100 %>%">
    </div>
  <% else %>
    <div class="progress-bar-estimate progress-bar-success progress-bar-small-round" role="progressbar" style="width: <%= (percentage_estimate + percentage_done) * 100 %>%">
    </div>
    <div class="progress-bar-done progress-bar-success progress-bar-small-round" role="progressbar" style="width: <%= percentage_done * 100 %>%">
    </div>
  <% end %>
</div>
